<a href="https://colab.research.google.com/github/swarnava-96/Pyspark/blob/main/Pyspark2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## TOPICS COVERED:


##### 1.PySpark Dataframe
##### 2.Reading The Dataset
##### 3.Checking the Datatypes of the Column(Schema)
##### 4.Selecting Columns And Indexing
##### 5.Check Describe option similar to Pandas
##### 6.Adding Columns
##### 7.Dropping columns
##### 8.Renaming Columns

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 63kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 18.1MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=7cdd8d5e3aa8ac4b468aaba68ecb6dc4c19db16ea894895112cd12220c8aab23
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

### PySpark Dataframe,Reading The Dataset,Checking the Datatypes of the Column(Schema).

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [ ]:
spark

##### Reading the dataset option 1

In [ ]:
df_pyspark=spark.read.option('header','true').csv('/content/drive/MyDrive/Datasets/test1.csv')

In [ ]:
##check the schema

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [ ]:
df_pyspark=spark.read.option('header','true').csv('/content/drive/MyDrive/Datasets/test1.csv').show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Swarnava| 25|         0|     0|
|Abhishek| 24|         2| 30000|
| Pushpok| 24|         6| 50000|
|  Deeyan| 24|         2| 35000|
| Swastik| 24|         1| 40000|
|  Pranoy| 23|         4| 65000|
+--------+---+----------+------+

#### Reading the dataset option 2

In [ ]:
df_pyspark=spark.read.option('header','true').csv('/content/drive/MyDrive/Datasets/test1.csv',inferSchema=True)

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

#### Reading the dataset option 3

In [ ]:
df_pyspark=spark.read.csv('/content/drive/MyDrive/Datasets/test1.csv',header=True,inferSchema=True)

In [ ]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Swarnava| 25|         0|     0|
|Abhishek| 24|         2| 30000|
| Pushpok| 24|         6| 50000|
|  Deeyan| 24|         2| 35000|
| Swastik| 24|         1| 40000|
|  Pranoy| 23|         4| 65000|
+--------+---+----------+------+

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

### Selecting Columns And Indexing

In [ ]:
df_pyspark.columns

['Name', 'Age', 'Experience', 'Salary']

In [ ]:
df_pyspark.head(3)

[Row(Name='Swarnava', Age=25, Experience=0, Salary=0),
 Row(Name='Abhishek', Age=24, Experience=2, Salary=30000),
 Row(Name='Pushpok', Age=24, Experience=6, Salary=50000)]

In [ ]:
##selecting any particular column

df_pyspark.select('Name')

DataFrame[Name: string]

In [ ]:
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
|Swarnava|
|Abhishek|
| Pushpok|
|  Deeyan|
| Swastik|
|  Pranoy|
+--------+

In [ ]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [ ]:
##selecting multiple columns

df_pyspark.select(['Name','Experience'])

DataFrame[Name: string, Experience: int]

In [ ]:
df_pyspark.select(['Name','Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|Swarnava|         0|
|Abhishek|         2|
| Pushpok|         6|
|  Deeyan|         2|
| Swastik|         1|
|  Pranoy|         4|
+--------+----------+

In [ ]:
##checking the datatypes

df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

### Check Describe option similar to Pandas

In [ ]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string, Salary: string]

In [ ]:
df_pyspark.describe().show()

+-------+--------+------------------+----------------+------------------+
|summary|    Name|               Age|      Experience|            Salary|
+-------+--------+------------------+----------------+------------------+
|  count|       6|                 6|               6|                 6|
|   mean|    null|              24.0|             2.5|36666.666666666664|
| stddev|    null|0.6324555320336755|2.16794833886788| 21832.69719175042|
|    min|Abhishek|                23|               0|                 0|
|    max| Swastik|                25|               6|             65000|
+-------+--------+------------------+----------------+------------------+

### Adding Columns

In [ ]:
df_pyspark=df_pyspark.withColumn('Experience after 2 years',df_pyspark['Experience']+2)

In [ ]:
df_pyspark.show()

+--------+---+----------+------+------------------------+
|    Name|Age|Experience|Salary|Experience after 2 years|
+--------+---+----------+------+------------------------+
|Swarnava| 25|         0|     0|                       2|
|Abhishek| 24|         2| 30000|                       4|
| Pushpok| 24|         6| 50000|                       8|
|  Deeyan| 24|         2| 35000|                       4|
| Swastik| 24|         1| 40000|                       3|
|  Pranoy| 23|         4| 65000|                       6|
+--------+---+----------+------+------------------------+

### Dropping columns

In [ ]:
df_pyspark=df_pyspark.drop('Experience after 2 years')

In [ ]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Swarnava| 25|         0|     0|
|Abhishek| 24|         2| 30000|
| Pushpok| 24|         6| 50000|
|  Deeyan| 24|         2| 35000|
| Swastik| 24|         1| 40000|
|  Pranoy| 23|         4| 65000|
+--------+---+----------+------+

### Renaming Columns

In [ ]:
df_pyspark=df_pyspark.withColumnRenamed('Name','New Name')

In [ ]:
df_pyspark.show()

+--------+---+----------+------+
|New Name|Age|Experience|Salary|
+--------+---+----------+------+
|Swarnava| 25|         0|     0|
|Abhishek| 24|         2| 30000|
| Pushpok| 24|         6| 50000|
|  Deeyan| 24|         2| 35000|
| Swastik| 24|         1| 40000|
|  Pranoy| 23|         4| 65000|
+--------+---+----------+------+