<a href="https://colab.research.google.com/github/swarnava-96/Pyspark/blob/main/Pyspark3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## TOPICS COVERED

##### 1.Dropping Columns
##### 2.Dropping Rows
##### 3.Various Parameter In Dropping functionalities
##### 4.Handling Missing Values by Mean, Median And Mode

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.csv('/content/drive/MyDrive/Datasets/test2.csv',header=True,inferSchema=True)

In [ ]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|Swarnava|  25|         0|     0|
|Abhishek|  24|         2| 30000|
| Pushpok|  24|         6| 50000|
|  Deeyan|  24|         2| 35000|
| Swastik|  24|         1| 40000|
|  Pranoy|null|      null| 65000|
|    null|  26|        10|  null|
|    null|  23|      null|  null|
+--------+----+----------+------+

### Dropping Columns

In [ ]:
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  25|         0|     0|
|  24|         2| 30000|
|  24|         6| 50000|
|  24|         2| 35000|
|  24|         1| 40000|
|null|      null| 65000|
|  26|        10|  null|
|  23|      null|  null|
+----+----------+------+

In [ ]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|Swarnava|  25|         0|     0|
|Abhishek|  24|         2| 30000|
| Pushpok|  24|         6| 50000|
|  Deeyan|  24|         2| 35000|
| Swastik|  24|         1| 40000|
|  Pranoy|null|      null| 65000|
|    null|  26|        10|  null|
|    null|  23|      null|  null|
+--------+----+----------+------+

### Dropping Rows

In [ ]:
##droping all the rows that contains missing values

df_pyspark.na.drop().show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Swarnava| 25|         0|     0|
|Abhishek| 24|         2| 30000|
| Pushpok| 24|         6| 50000|
|  Deeyan| 24|         2| 35000|
| Swastik| 24|         1| 40000|
+--------+---+----------+------+

### Various Parameter In Dropping functionalities

In [ ]:
##how=any

df_pyspark.na.drop(how='any').show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Swarnava| 25|         0|     0|
|Abhishek| 24|         2| 30000|
| Pushpok| 24|         6| 50000|
|  Deeyan| 24|         2| 35000|
| Swastik| 24|         1| 40000|
+--------+---+----------+------+

In [ ]:
##threshold

df_pyspark.na.drop(how='any',thresh=2).show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|Swarnava|  25|         0|     0|
|Abhishek|  24|         2| 30000|
| Pushpok|  24|         6| 50000|
|  Deeyan|  24|         2| 35000|
| Swastik|  24|         1| 40000|
|  Pranoy|null|      null| 65000|
|    null|  26|        10|  null|
+--------+----+----------+------+

In [ ]:
##subset

df_pyspark.na.drop(how='any',subset=['Age']).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Swarnava| 25|         0|     0|
|Abhishek| 24|         2| 30000|
| Pushpok| 24|         6| 50000|
|  Deeyan| 24|         2| 35000|
| Swastik| 24|         1| 40000|
|    null| 26|        10|  null|
|    null| 23|      null|  null|
+--------+---+----------+------+

### Handling Missing Values by Mean, Median And Mode

In [ ]:

df_pyspark.na.fill('Missing Values',['Name']).show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|      Swarnava|  25|         0|     0|
|      Abhishek|  24|         2| 30000|
|       Pushpok|  24|         6| 50000|
|        Deeyan|  24|         2| 35000|
|       Swastik|  24|         1| 40000|
|        Pranoy|null|      null| 65000|
|Missing Values|  26|        10|  null|
|Missing Values|  23|      null|  null|
+--------------+----+----------+------+

In [ ]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|Swarnava|  25|         0|     0|
|Abhishek|  24|         2| 30000|
| Pushpok|  24|         6| 50000|
|  Deeyan|  24|         2| 35000|
| Swastik|  24|         1| 40000|
|  Pranoy|null|      null| 65000|
|    null|  26|        10|  null|
|    null|  23|      null|  null|
+--------+----+----------+------+

In [ ]:

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [ ]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|Swarnava|  25|         0|     0|         25|                 0|             0|
|Abhishek|  24|         2| 30000|         24|                 2|         30000|
| Pushpok|  24|         6| 50000|         24|                 6|         50000|
|  Deeyan|  24|         2| 35000|         24|                 2|         35000|
| Swastik|  24|         1| 40000|         24|                 1|         40000|
|  Pranoy|null|      null| 65000|         24|                 2|         65000|
|    null|  26|        10|  null|         26|                10|         35000|
|    null|  23|      null|  null|         23|                 2|         35000|
+--------+----+----------+------+-----------+------------------+--------------+