<a href="https://colab.research.google.com/github/swarnava-96/Pyspark/blob/main/Pyspark5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pyspark GroupBy And Aggregate Functions

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 67kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 18.8MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=9f2bac17093ee2a1a66c2ef9e2f1a58186aa9f693e088a4416c51bae4e2f1f44
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [4]:
spark

In [5]:
df_pyspark=spark.read.csv('/content/drive/MyDrive/Datasets/test3.csv',header=True,inferSchema=True)

In [7]:
df_pyspark.show()

+--------+-----------------+------+
|    Name|       Department|Salary|
+--------+-----------------+------+
|Swarnava|     Data Science| 30000|
|Abhishek|               IT| 40000|
| Pushpok|         Accounts| 60000|
|  Deeyan|Digital Marketing| 55000|
| Swastik|         Accounts| 40000|
|  Pranoy|          Finance| 65000|
|Swarnava|               BA| 25000|
|Abhishek|             Bank| 35000|
| Pushpok|              IOT| 44000|
+--------+-----------------+------+

In [9]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [11]:
### Grouped to find the maximum salary

df_pyspark.groupby('name').sum().show()

+--------+-----------+
|    name|sum(Salary)|
+--------+-----------+
|Abhishek|      75000|
| Pushpok|     104000|
|  Pranoy|      65000|
|Swarnava|      55000|
|  Deeyan|      55000|
| Swastik|      40000|
+--------+-----------+

In [12]:
###Groupby Dapartments which gives maximum salary

df_pyspark.groupby('Department').sum().show()

+-----------------+-----------+
|       Department|sum(Salary)|
+-----------------+-----------+
|Digital Marketing|      55000|
|             Bank|      35000|
|              IOT|      44000|
|          Finance|      65000|
|               BA|      25000|
|         Accounts|     100000|
|               IT|      40000|
|     Data Science|      30000|
+-----------------+-----------+

In [13]:
###Groupby Dapartments which gives average salary

df_pyspark.groupby('Department').mean().show()

+-----------------+-----------+
|       Department|avg(Salary)|
+-----------------+-----------+
|Digital Marketing|    55000.0|
|             Bank|    35000.0|
|              IOT|    44000.0|
|          Finance|    65000.0|
|               BA|    25000.0|
|         Accounts|    50000.0|
|               IT|    40000.0|
|     Data Science|    30000.0|
+-----------------+-----------+

In [14]:
###Groupby Dapartments which gives number of employees

df_pyspark.groupby('Department').count().show()

+-----------------+-----+
|       Department|count|
+-----------------+-----+
|Digital Marketing|    1|
|             Bank|    1|
|              IOT|    1|
|          Finance|    1|
|               BA|    1|
|         Accounts|    2|
|               IT|    1|
|     Data Science|    1|
+-----------------+-----+

In [15]:
### aggregating the total salary

df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     394000|
+-----------+

In [16]:
###Finding the employee who gets the max salary

df_pyspark.groupby('Name').max().show()

+--------+-----------+
|    Name|max(Salary)|
+--------+-----------+
|Abhishek|      40000|
| Pushpok|      60000|
|  Pranoy|      65000|
|Swarnava|      30000|
|  Deeyan|      55000|
| Swastik|      40000|
+--------+-----------+

In [17]:
###Finding the employee who gets the min salary

df_pyspark.groupby('Name').min().show()

+--------+-----------+
|    Name|min(Salary)|
+--------+-----------+
|Abhishek|      35000|
| Pushpok|      44000|
|  Pranoy|      65000|
|Swarnava|      25000|
|  Deeyan|      55000|
| Swastik|      40000|
+--------+-----------+