<a href="https://colab.research.google.com/github/swarnava-96/Pyspark/blob/main/Pyspark_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 78kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 19.3MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=a7a1b434df87446d70b1812e2ee902f317d59017199b1b4a5daa22513f1e85d5
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
import pyspark

In [11]:
import pandas as pd
pd.read_csv('/content/drive/MyDrive/Datasets/test1.csv')

       Name  Age
0  Swarnava   25
1  Abhishek   24
2   Pushpok   24
3    Deeyan   24
4   Swastik   24
5    Pranoy   23

In [27]:
type(pd.read_csv('/content/drive/MyDrive/Datasets/test1.csv'))

pandas.core.frame.DataFrame

In [12]:
from pyspark.sql import SparkSession

In [13]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [14]:
spark

In [15]:
df_pyspark=spark.read.csv('/content/drive/MyDrive/Datasets/test1.csv')

In [17]:
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|Swarnava| 25|
|Abhishek| 24|
| Pushpok| 24|
|  Deeyan| 24|
| Swastik| 24|
|  Pranoy| 23|
+--------+---+

In [18]:
spark.read.option('header','true').csv('/content/drive/MyDrive/Datasets/test1.csv')

DataFrame[Name: string, Age: string]

In [21]:
spark.read.option('header','true').csv('/content/drive/MyDrive/Datasets/test1.csv').show()

+--------+---+
|    Name|Age|
+--------+---+
|Swarnava| 25|
|Abhishek| 24|
| Pushpok| 24|
|  Deeyan| 24|
| Swastik| 24|
|  Pranoy| 23|
+--------+---+

In [23]:
df_pyspark=spark.read.option('header','true').csv('/content/drive/MyDrive/Datasets/test1.csv')

In [25]:
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|Swarnava| 25|
|Abhishek| 24|
| Pushpok| 24|
|  Deeyan| 24|
| Swastik| 24|
|  Pranoy| 23|
+--------+---+

In [26]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [29]:
df_pyspark.head(3)

[Row(Name='Swarnava', Age='25'),
 Row(Name='Abhishek', Age='24'),
 Row(Name='Pushpok', Age='24')]

In [30]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)