<a href="https://colab.research.google.com/github/swarnava-96/Pyspark/blob/main/Pyspark4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pyspark Dataframes

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 72kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 19.1MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=556e3a34db052a6a50296b89fead1aa903c6cf8b64e278e38640fc2606e03364
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

In [5]:
df_pyspark=spark.read.csv('/content/drive/MyDrive/Datasets/test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Swarnava| 25|         0|     0|
|Abhishek| 24|         2| 30000|
| Pushpok| 24|         6| 50000|
|  Deeyan| 24|         2| 35000|
| Swastik| 24|         1| 40000|
|  Pranoy| 23|         4| 65000|
+--------+---+----------+------+

## Filter Operations

In [6]:
##Salary of the prople less than or equal to 40000

df_pyspark.filter('Salary<=40000').show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Swarnava| 25|         0|     0|
|Abhishek| 24|         2| 30000|
|  Deeyan| 24|         2| 35000|
| Swastik| 24|         1| 40000|
+--------+---+----------+------+

In [7]:
df_pyspark.filter('Salary<=40000').select((['Name','Age'])).show()

+--------+---+
|    Name|Age|
+--------+---+
|Swarnava| 25|
|Abhishek| 24|
|  Deeyan| 24|
| Swastik| 24|
+--------+---+

In [8]:
##Alternative way:

df_pyspark.filter(df_pyspark['Salary']<=40000).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Swarnava| 25|         0|     0|
|Abhishek| 24|         2| 30000|
|  Deeyan| 24|         2| 35000|
| Swastik| 24|         1| 40000|
+--------+---+----------+------+

In [11]:
##Salary of the prople less than or equal to 40000 & greater than 30000

df_pyspark.filter((df_pyspark['Salary']<=40000) & 
                  (df_pyspark['Salary']>=30000)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Abhishek| 24|         2| 30000|
|  Deeyan| 24|         2| 35000|
| Swastik| 24|         1| 40000|
+--------+---+----------+------+

In [13]:
##Inverse(NOT) operation

df_pyspark.filter(~(df_pyspark['Salary']<=40000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Pushpok| 24|         6| 50000|
| Pranoy| 23|         4| 65000|
+-------+---+----------+------+